@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: white;
  max-width: 1920px;
  font-family: Inter;
  letter-spacing: 0.0275em;
}

a {
  text-decoration: none;
  color: #787878;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appbar {
  max-height: 88px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
}

.appbar-links {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  margin-right: 110px;
  text-align: center;
}

.appbar-link {
  font-size: 20px;
  color: #5a5b6a;
}

.appbar-link:first-child {
  margin-right: 30px;
}

.appbar-links .appbar-link:hover {
  color: black;
}

.appbar-search {
  min-height: 48px;
  min-width: 668px;
  border-radius: 99px;
  font-size: 20px;
  background: #ededf0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.find-icon,
.close-icon {
  display: flex;
  padding: 0 10px 0 5px;
  cursor: pointer;
}

.close-icon {
  padding-left: 10px;
}

.search-input {
  padding: 0;
  min-width: 85%;
  outline: none;
  background: #ededf0;
}

.appbar-consumer {
  padding-left: 20px;
}

.consumer-link {
  color: #2264d1;
  font-size: 20px;
  margin-right: 91px;
}

.consumer-link:hover {
  color: #787885;
}

.appbar-buttons {
  font-family: Quicksand;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  padding-left: 25px;
}

.appbar-btn {
  padding: 7px 14px;
  margin-right: 17px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2264d1;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
}

.active-btn {
  padding: 6px 14px;
  border: 1px solid #9dc2ff;
  box-shadow: none;
}

.appbar-btn:hover,
.active-btn:hover {
  opacity: 0.7;
}

.appbar-cart {
  position: relative;
}

.appbar-cart-count {
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  position: absolute;
  top: -1px;
  right: 12px;
  background: #f44336;
  border-radius: 50%;
}

.appbar-avatar {
  height: 40px;
  width: 40px;
  border-radius: 99px;
}

.content-wrapper {
  padding: 0 10% 0 11%;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 39px;
  min-height: 56px;
}

.tab {
  font-size: 14px;
  padding: 8px 8px 6px 8px;
  margin: 0;
  text-align: center;
}

.tab._active {
  background: #ebf2ff;
  border-radius: 10px;
}

.tab._active path,
.tab-text._active {
  color: #2979ff;
  fill: #2979ff;
}

.tab:hover {
  background: #ebf2ff;
  border-radius: 10px;
}

.all-content {
  display: grid;
  grid-template-columns: 379px 1114px;
}

.left-menu {
  width: 81%;
}

.left-button,
.appbar-cart-count {
  font-family: Quicksand;
  font-weight: 700;
}

.left-button {
  font-size: 24px;
  min-height: 52px;
  display: flex;
  align-items: center;
  border: 1px solid #9dc2ff;
  border-radius: 8px;
  margin-bottom: 50px;
}

.left-button-text {
  color: #2264d1;
}

.left__button-icon {
  padding: 0 50px 0 19px;
}

.left-button:hover {
  opacity: 0.75;
}

.sub-category-button {
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 4px;
  color: #2264d1;
}

.custom-select-show:hover,
.sub-category-button:hover,
.electronics-main:hover,
.all-categories-ecommers:hover {
  opacity: 0.75;
}

.custom-select-show,
.sub-category-button {
  cursor: pointer;
}

.custom-select-show {
  max-width: 126px;
  max-height: 40px;
  color: #2264d1;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #ebf2ff;
  padding-left: 12px;
  margin-left: 55px;
}

.sub-category-button {
  background: #ebf2ff;
  border-radius: 4px;
  padding: 11.5px 12px;
  margin: 0 0 0 40px;
}

.left-select-arrow {
  padding: 15px;
}

.all-categories-item,
.electronics-main,
.electronic-item {
  display: flex;
  align-items: center;
}

.aside-arrow,
.electronic-circle {
  max-width: 40px;
  max-height: 40px;
}

.left-menu-item {
  color: #000000;
}

._weight {
  font-weight: 500;
}

.all-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 8px;
}

.all-categories-ecommers {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.electronics-main {
  font-weight: 500;
  padding-left: 10px;
}

.all-categories-item {
  margin-bottom: 5px;
  padding-left: 18px;
}

.all-categories-btn {
  padding-left: 18px;
  margin-bottom: 44px;
}

.all-item:hover,
.electronic-item:hover,
.all-categories-item:hover,
.category-sub:hover {
  opacity: 0.75;
  cursor: pointer;
}

.all-electronics-categories {
  padding-left: 6px;
}

.electronic-item {
  padding-left: 16px;
}

.sub-item {
  color: #787885;
  font-size: 14px;
}

.category-sub {
  display: flex;
  flex-direction: column;
}

.content-left-collapsed {
  height: 40px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.content-left-collapsed:hover,
.expanded-top:hover {
  opacity: 0.75;
  cursor: pointer;
}

.collapsed {
  padding-left: 8px;
}

.collapsed-arrow {
  margin: 0 16px;
}

.content-left-expanded {
  margin-bottom: 28px;
  background: #f7f7fa;
  border-radius: 4px;
  line-height: 150%;
}

.expanded-content:last-child {
  padding-bottom: 16px;
}

.expanded-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 18px 11px 12px;
  font-weight: 500;
}

.filter-label {
  display: flex;
  align-items: center;
  min-height: 38px;
  padding: 0 0 4px 20px;
  cursor: pointer;
}

.filter-label:hover {
  opacity: 0.75;
}

.filter-check {
  border: 1px solid black;
  width: 18px;
  height: 18px;
  background-color: transparent;
  margin-right: 19px;
}

.content-right {
  margin-bottom: 30px;
  padding: 16px 0 16px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
}

.content-right-top {
  display: flex;
  margin-bottom: 40px;
  padding: 0 5px;
}

.content-right__selects {
  width: 100%;
  display: flex;
}

.select__sort {
  position: relative;
  margin-right: 16px;
}

.custom-select {
  border: 1px solid #5a5b6a;
  box-sizing: border-box;
  border-radius: 4px;
  color: #5a5b6a;
}

.sort {
  font-family: Roboto;
  font-weight: 500;
  position: absolute;
  top: -5px;
  left: 10px;
  margin: 0;
  font-size: 10px;
  background: white;
  padding: 0 3px;
  color: #787885;
}

.content-right__select {
  margin-right: 16px;
}

.custom-select,
.custom-select-other {
  max-height: 36px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 14px;
  border: 1px solid #b4b4bb;
  box-sizing: border-box;
  border-radius: 4px;
  color: #787885;
  cursor: pointer;
}
.custom-select-other {
  color: #19191d;
  font-weight: 500;
  border: 1px solid #5a5a5a;
}

.custom-select:hover {
  opacity: 0.75;
}

.custom-select-arrow {
  padding: 16px 10px 14px 10px;
}

.content-right__buttons {
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content-right-filter {
  display: flex;
  margin-right: 24px;
}

.right-filter {
  padding: 8px 13.5px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  color: #5a5b6a;
  background: #ebf2ff;
  border-radius: 4px;
}

.right-filter:hover {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
}

.right__buttons-type {
  display: flex;
}

.type-button {
  padding: 9px 24px 10px 26px;
  background: #ebf2ff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-button:hover,
.type-button:hover path {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
}

.active-filter,
.active-type,
.active-type path {
  fill: #2264d1;
  color: #2264d1;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
}

.content-right__filters {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.right__filter-text {
  color: #19191d;
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.content-right__filter {
  font-size: 14px;
  font-weight: 400;
  background: #ededf0;
  border-radius: 99px;
  font-size: 14px;
  padding: 7px 13px 6px 14px;
  margin-right: 10px;
  color: #4a4b57;
  cursor: pointer;
}

.content-right__filter:hover {
  opacity: 0.7;
}

.content-right-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-right-item {
  padding: 16px 12px 12px 16px;
  margin: 0 12px 16px 0;
  max-height: 444px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.content-right-item:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2),
    0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}

.card-text {
  line-height: 150%;
}

.card-name,
.item-price,
.card-info {
  overflow: hidden;
}

.card-name {
  height: 74px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.item-price {
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-deal,
.item-rate,
.footer-main-name,
.custom-select-show {
  font-family: Roboto;
}

.item-deal {
  padding: 2px 10px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
}

.price-off {
  background: #ecf7ed;
  color: #37833b;
}

.cool-deal {
  background: #fdedf2;
  color: #c23564;
}

.item-price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-info {
  color: #787885;
  font-size: 14px;
  height: 43px;
  margin-bottom: 8px;
}

.item-rate {
  color: #5e6366;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.card-image {
  max-height: 224px;
  max-width: 226px;
  border: none;
  margin-bottom: 12px;
}

.item-reviews {
  display: flex;
  align-items: center;
}

.item-watch {
  background: url(../img/heart-icon.png) no-repeat center left 8px;
  padding: 5px 12px 5px 36px;
  border: 1px solid #9dc2ff;
  border-radius: 4px;
  font-size: 14px;
  color: #2264d1;
}

.item-watch:hover {
  opacity: 0.75;
}

.item-stars {
  display: flex;
  align-items: center;
}

.watch-text {
  float: right;
  padding: 5px 8px 0 0;
}

.item-rate {
  margin-right: 30px;
  padding-left: 10px;
}

.heart-icon {
  padding: 7px;
}

.content-right__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-right__card {
  padding: 25px 51px 30px 51px;
  background: #ededf0;
  border-radius: 8px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.right-card-main {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  padding: 2px 0;
  text-align: center;
  color: #000000;
}

.right-card-sub {
  font-size: 14px;
  color: #5a5b6a;
}

footer {
  background: #f7f7fa;
}

.mail-input {
  background: #e6e6ea;
  outline: none;
}

.footer-section-top {
  min-height: 162px;
  padding: 28px 9% 0 31%;
}

.footer-main-name {
  margin-bottom: 25px;
}

.footer-name-link {
  font-weight: 700;
  font-size: 16px;
  color: #b1b1c3;
}

.footer-main-name,
.contacts {
  cursor: pointer;
}

.footer-main-name:hover,
.contacts:hover {
  opacity: 0.65;
}

.footer-customer-business {
  display: flex;
  color: black;
}

.footer-top-customer {
  width: 66.6%;
}

.footer-menu {
  display: flex;
  margin-bottom: 21px;
}

.footer-link {
  margin-right: 40px;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
}

.footer-menu:last-child {
  margin-right: 0;
}

.footer-top-contact,
.footer-contact-mail {
  display: flex;
  flex-direction: column;
}

.footer-top-contact {
  margin-right: 22px;
}

.footer-contact-mail {
  margin-right: 34px;
}

.footer-section-contact {
  display: flex;
  align-items: center;
}

.contacts {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  color: black;
}

.sub-contacts {
  margin: 0;
  color: #5a5b6a;
  font-size: 12px;
  cursor: default;
}

.footer-top-track {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.track {
  color: #2264d1;
  font-size: 14px;
  background: #ebf2ff;
  border-radius: 4px;
  padding: 11.5px 23.5px;
  margin-right: 27px;
}

.subscribe-btn:hover,
.track:hover,
.mid-link:hover,
.social-link:hover,
.footer-link:hover {
  opacity: 0.75;
}

.social-link {
  cursor: pointer;
  margin-right: 20px;
}

.footer-contact-business {
  display: flex;
  align-items: center;
}

.footer-mid {
  background: #e6e6ea;
  min-height: 50px;
  padding: 0 10% 0 31%;
  display: flex;
  justify-content: space-between;
}

.side-borders {
  border-left: 1px solid #d1d1e1;
  border-right: 1px solid #d1d1e1;
}

.side-border {
  border-right: 1px solid #d1d1e1;
}

.side-border,
.side-borders {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 33%;
}

.footer-mid-mail {
  display: flex;
  align-items: center;
  max-width: 32%;
}

.mail-input {
  max-width: 53%;
  font-size: 14px;
}

.footer-mail-border {
  border-right: 1px #5a5b6a solid;
  margin-right: 16px;
  padding-right: 12px;
  max-height: 24px;
}

.mid-link {
  color: #1f1f1f;
  font-size: 16px;
  cursor: pointer;
}

.subscribe-btn {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  color: #2264d1;
  padding: 10px 28px;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 11px;
  background: #e6e6ea;
}

.footer-section__bottom {
  padding: 0 10% 0 30%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-text {
  font-size: 12px;
  color: #b1b1c3;
}

.footer-bottom-payments {
  display: flex;
  align-items: center;
  min-width: 14%;
}

.payment-system {
  margin-right: 21px;
  max-height: 16px;
}

.footer-bottom-policy {
  display: flex;
}

.bottom-text {
  padding-left: 16px;
  cursor: pointer;
}
